.menu-item a::first-letter {
  font-size: 24px;
}

.todo-list {
  scrollbar-width: auto;
  padding-right: 20px;
}

.todo-list::-webkit-scrollbar {
  width: 13px;
}

.todo-list::-webkit-scrollbar-track {
  background: transparent;
}

.todo-list::-webkit-scrollbar-thumb {
  background-color: rgba(60, 63, 65, 0.3);
  border-radius: 10px;
}
